@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8o48sk');
  src:  url('fonts/icomoon.eot?8o48sk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8o48sk') format('truetype'),
    url('fonts/icomoon.woff?8o48sk') format('woff'),
    url('fonts/icomoon.svg?8o48sk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CLEAR_bold:before {
  content: "\e900";
  color: #fff;
}
.icon-CLEAR_light:before {
  content: "\e901";
  color: #fff;
}
.icon-CLEAR_thin:before {
  content: "\e902";
  color: #fff;
}
.icon-CLEAR0_bold:before {
  content: "\e903";
  color: #fff;
}
.icon-CLEAR0_light:before {
  content: "\e904";
  color: #fff;
}
.icon-CLEAR0_thin:before {
  content: "\e905";
  color: #fff;
}
.icon-CLEAR1_bold:before {
  content: "\e906";
  color: #fff;
}
.icon-CLEAR1_light:before {
  content: "\e907";
  color: #fff;
}
.icon-CLEAR1_thin:before {
  content: "\e908";
  color: #fff;
}
.icon-FOG_bold:before {
  content: "\e909";
  color: #fff;
}
.icon-FOG_light:before {
  content: "\e90a";
  color: #fff;
}
.icon-FOG_thin:before {
  content: "\e90b";
  color: #fff;
}
.icon-FOG0_bold:before {
  content: "\e90c";
  color: #fff;
}
.icon-FOG0_light:before {
  content: "\e90d";
  color: #fff;
}
.icon-FOG0_thin:before {
  content: "\e90e";
  color: #fff;
}
.icon-FOG1_bold:before {
  content: "\e90f";
  color: #fff;
}
.icon-FOG1_light:before {
  content: "\e910";
  color: #fff;
}
.icon-FOG1_thin:before {
  content: "\e911";
  color: #fff;
}
.icon-HAIL_bold:before {
  content: "\e912";
  color: #fff;
}
.icon-HAIL_light:before {
  content: "\e913";
  color: #fff;
}
.icon-HAIL_thin:before {
  content: "\e914";
  color: #fff;
}
.icon-HAIL0_bold:before {
  content: "\e915";
  color: #fff;
}
.icon-HAIL0_light:before {
  content: "\e916";
  color: #fff;
}
.icon-HAIL0_thin:before {
  content: "\e917";
  color: #fff;
}
.icon-HAIL1_bold:before {
  content: "\e918";
  color: #fff;
}
.icon-HAIL1_light:before {
  content: "\e919";
  color: #fff;
}
.icon-HAIL1_thin:before {
  content: "\e91a";
  color: #fff;
}
.icon-MCLOUDY_bold:before {
  content: "\e91b";
  color: #fff;
}
.icon-MCLOUDY_light:before {
  content: "\e91c";
  color: #fff;
}
.icon-MCLOUDY_thin:before {
  content: "\e91d";
  color: #fff;
}
.icon-MCLOUDY0_bold:before {
  content: "\e91e";
  color: #fff;
}
.icon-MCLOUDY0_light:before {
  content: "\e91f";
  color: #fff;
}
.icon-MCLOUDY0_thin:before {
  content: "\e920";
  color: #fff;
}
.icon-MCLOUDY1_bold:before {
  content: "\e921";
  color: #fff;
}
.icon-MCLOUDY1_light:before {
  content: "\e922";
  color: #fff;
}
.icon-MCLOUDY1_thin:before {
  content: "\e923";
  color: #fff;
}
.icon-PCLOUDY0_bold:before {
  content: "\e924";
  color: #fff;
}
.icon-PCLOUDY0_light:before {
  content: "\e925";
  color: #fff;
}
.icon-PCLOUDY0_thin:before {
  content: "\e926";
  color: #fff;
}
.icon-PCLOUDY1_bold:before {
  content: "\e927";
  color: #fff;
}
.icon-PCLOUDY1_light:before {
  content: "\e928";
  color: #fff;
}
.icon-PCLOUDY1_thin:before {
  content: "\e929";
  color: #fff;
}
.icon-RAIN_bold:before {
  content: "\e92a";
  color: #fff;
}
.icon-RAIN_light:before {
  content: "\e92b";
  color: #fff;
}
.icon-RAIN_thin:before {
  content: "\e92c";
  color: #fff;
}
.icon-RAIN0_bold:before {
  content: "\e92d";
  color: #fff;
}
.icon-RAIN0_light:before {
  content: "\e92e";
  color: #fff;
}
.icon-RAIN1_bold:before {
  content: "\e92f";
  color: #fff;
}
.icon-RAIN1_light:before {
  content: "\e930";
  color: #fff;
}
.icon-SHOWER_bold:before {
  content: "\e931";
  color: #fff;
}
.icon-SHOWER_light:before {
  content: "\e932";
  color: #fff;
}
.icon-SHOWER_thin:before {
  content: "\e933";
  color: #fff;
}
.icon-SHOWER0_bold:before {
  content: "\e934";
  color: #fff;
}
.icon-SHOWER0_light:before {
  content: "\e935";
  color: #fff;
}
.icon-SHOWER0_thin:before {
  content: "\e936";
  color: #fff;
}
.icon-SHOWER1_bold:before {
  content: "\e937";
  color: #fff;
}
.icon-SHOWER1_light:before {
  content: "\e938";
  color: #fff;
}
.icon-SHOWER1_thin:before {
  content: "\e939";
  color: #fff;
}
.icon-SLEET_bold:before {
  content: "\e93a";
  color: #fff;
}
.icon-SLEET_light:before {
  content: "\e93b";
  color: #fff;
}
.icon-SLEET_thin:before {
  content: "\e93c";
  color: #fff;
}
.icon-SLEET0_bold:before {
  content: "\e93d";
  color: #fff;
}
.icon-SLEET0_light:before {
  content: "\e93e";
  color: #fff;
}
.icon-SLEET0_thin:before {
  content: "\e93f";
  color: #fff;
}
.icon-SLEET1_bold:before {
  content: "\e940";
  color: #fff;
}
.icon-SLEET1_light:before {
  content: "\e941";
  color: #fff;
}
.icon-SLEET1_thin:before {
  content: "\e942";
  color: #fff;
}
.icon-SNOW_bold:before {
  content: "\e943";
  color: #fff;
}
.icon-SNOW_light:before {
  content: "\e944";
  color: #fff;
}
.icon-SNOW_thin:before {
  content: "\e945";
  color: #fff;
}
.icon-SNOW0_bold:before {
  content: "\e946";
  color: #fff;
}
.icon-SNOW0_light:before {
  content: "\e947";
  color: #fff;
}
.icon-SNOW0_thin:before {
  content: "\e948";
  color: #fff;
}
.icon-SNOW1_bold:before {
  content: "\e949";
  color: #fff;
}
.icon-SNOW1_light:before {
  content: "\e94a";
  color: #fff;
}
.icon-SNOW1_thin:before {
  content: "\e94b";
  color: #fff;
}
.icon-TORNADO_bold:before {
  content: "\e94c";
  color: #fff;
}
.icon-TORNADO_light:before {
  content: "\e94d";
  color: #fff;
}
.icon-TORNADO_thin:before {
  content: "\e94e";
  color: #fff;
}
.icon-TORNADO0_bold:before {
  content: "\e94f";
  color: #fff;
}
.icon-TORNADO0_light:before {
  content: "\e950";
  color: #fff;
}
.icon-TORNADO0_thin:before {
  content: "\e951";
  color: #fff;
}
.icon-TORNADO1_bold:before {
  content: "\e952";
  color: #fff;
}
.icon-TORNADO1_light:before {
  content: "\e953";
  color: #fff;
}
.icon-TORNADO1_thin:before {
  content: "\e954";
  color: #fff;
}
.icon-TSHOWER_bold:before {
  content: "\e955";
  color: #fff;
}
.icon-TSHOWER_light:before {
  content: "\e956";
  color: #fff;
}
.icon-TSHOWER_thin:before {
  content: "\e957";
  color: #fff;
}
.icon-TSHOWER0_bold:before {
  content: "\e958";
  color: #fff;
}
.icon-TSHOWER0_light:before {
  content: "\e959";
  color: #fff;
}
.icon-TSHOWER0_thin:before {
  content: "\e95a";
  color: #fff;
}
.icon-TSHOWER1_bold:before {
  content: "\e95b";
  color: #fff;
}
.icon-TSHOWER1_light:before {
  content: "\e95c";
  color: #fff;
}
.icon-TSHOWER1_thin:before {
  content: "\e95d";
  color: #fff;
}
.icon-TSTORM_bold:before {
  content: "\e95e";
  color: #fff;
}
.icon-TSTORM_light:before {
  content: "\e95f";
  color: #fff;
}
.icon-TSTORM_thin:before {
  content: "\e960";
  color: #fff;
}
.icon-TSTORM0_bold:before {
  content: "\e961";
  color: #fff;
}
.icon-TSTORM0_light:before {
  content: "\e962";
  color: #fff;
}
.icon-TSTORM0_thin:before {
  content: "\e963";
  color: #fff;
}
.icon-TSTORM1_bold:before {
  content: "\e964";
  color: #fff;
}
.icon-TSTORM1_light:before {
  content: "\e965";
  color: #fff;
}
.icon-TSTORM1_thin:before {
  content: "\e966";
  color: #fff;
}
.icon-UNKNOWN_bold:before {
  content: "\e967";
  color: #fff;
}
.icon-UNKNOWN_light:before {
  content: "\e968";
  color: #fff;
}
.icon-UNKNOWN_thin:before {
  content: "\e969";
  color: #fff;
}
.icon-UNKNOWN0_bold:before {
  content: "\e96a";
  color: #fff;
}
.icon-UNKNOWN0_light:before {
  content: "\e96b";
  color: #fff;
}
.icon-UNKNOWN0_thin:before {
  content: "\e96c";
  color: #fff;
}
.icon-UNKNOWN1_bold:before {
  content: "\e96d";
  color: #fff;
}
.icon-UNKNOWN1_light:before {
  content: "\e96e";
  color: #fff;
}
.icon-UNKNOWN1_thin:before {
  content: "\e96f";
  color: #fff;
}
.icon-WINDY_bold:before {
  content: "\e970";
  color: #fff;
}
.icon-WINDY_light:before {
  content: "\e971";
  color: #fff;
}
.icon-WINDY_thin:before {
  content: "\e972";
  color: #fff;
}
.icon-WINDY0_bold:before {
  content: "\e973";
  color: #fff;
}
.icon-WINDY0_light:before {
  content: "\e974";
  color: #fff;
}
.icon-WINDY0_thin:before {
  content: "\e975";
  color: #fff;
}
.icon-WINDY1_bold:before {
  content: "\e976";
  color: #fff;
}
.icon-WINDY1_light:before {
  content: "\e977";
  color: #fff;
}
.icon-WINDY1_thin:before {
  content: "\e978";
  color: #fff;
}
